// Colors

$olive: #7D8A2E;
$green: #C9D787;
$coral: #FFC0A9;
$pink: #FF8598;
$white: #ffffff;
$black: #212121;

// Globals

html, body {
    font-family: 'DM Serif Text', serif;
    font-size: 16px;
}
